body
{
    margin: 0;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header div
{
    display: flex;
    align-items: center;
}

h1
{
    margin-left: 50px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
}

ul
{
    list-style: none;
    display: flex;
}

li
{
    margin-right: 50px;
    font-family: 'Work Sans', sans-serif;
}

li:last-of-type
{
    margin-right: 100px;
}

li:hover
{
    cursor: pointer;
}

button
{
    margin-right: 100px;
    padding: 10px;
}