button
{
    position: absolute;
    top: 20px;
    right: 10px;
    margin-right: 0px;
    padding: 10px;
    z-index: 4;
    background-color: transparent;
    border: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

button:focus
{
    outline: 0;
}

.center
{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 50%;
    margin-top: 20vh;
    z-index: 2;
}

.center div
{
    width: 50%;
    z-index: 2;
}

.center div img
{
    width: 100%;
    box-shadow: 0px 0px 60px 0px rgb(131,48,105,0.35);
}

#masque
{
    background-color: #f6bc5b;
    width: 50px;
    height: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
    transform: rotate(25deg);
}

#masque div
{
    display: none;
    justify-content: center;
    align-items: center;
}

.firstPres
{
    width: 270px;
    transition: top 0.5s linear;
    position: absolute;
    top: 70px;
    left: 0px;
}

.secondPres
{
    width: 270px;
    transition: top 1s linear;
    text-align: right;
    position: absolute;
    top: 250px;
    right: 0px;
}

.thirdPres
{
    width: 270px;
    transition: top 1s linear;
    text-align: left;
    position: absolute;
    top: 630px;
    left: 0px;
}

.forthPres
{
    width: 270px;
    transition: top 1s linear;
    text-align: right;
    position: absolute;
    top: 860px;
    right: 0px;
}

.scroll
{
    margin-top: 70px;
    width: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.appPresentation
{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    width: 60%;
    height: 370px;
    margin-top: 30px;
    background-color: rgba(246, 188, 91, 0.3);
    border-radius: 15px;
    overflow: scroll;
}

.appPresentation div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollImage
{
    width: 30px;
    position: absolute;
    top: 435px;
}

.iphone
{
    display: block;
    width: 200px;
}